<div class="post">
 <div class="prob-titile">
  1 猜数游戏的最多次数
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿许多童年的游戏，其实暗藏了玄机，只是当时年幼，只晓得关心结果，不懂得细察究竟。
今天小明和小璐，在一起重玩童年时的猜数游戏。小明心中选定一个整数x（1&lt;=x&lt;=n），n是小于100000的正整数，小璐猜数。小璐当然知道每次猜中间大的数字，然后小明告诉她，或猜对了，或猜小了，或猜大了。
你是程序员，所以你能明了这个游戏。请告诉我们，小璐最少猜几次，一定能够猜准数字。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入一行，一个整数n。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，一个整数k，表示小璐最少需要猜的次数。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>10
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>4
</code></pre>
  </div>
 </div>
</div>
