<div class="post">
 <div class="prob-titile">
  硕哥的全排列
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>硕哥想知道怎么求全排列，但他比较忙，于是就把这个任务扔给了你。</p>

<p>输入n，求1~n的全排列，并按照字典序输出。</p>

<p>样例解释</p>

<p>1~2的全排列总共有2!=2种。</p>

<p>其中1、2的字典序小于2、1。所以先输出1 2，再输出2 1。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>一个正整数n（n&lt;=8）。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>按字典序输出每行一个全排列，中间用空格分隔。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>2</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>1 2
2 1</code></pre>
  </div>
 </div>
</div>
