<div class="post">
 <div class="prob-titile">
  硕哥的托儿所
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>硕哥讨厌托儿索，但喜欢托儿所。这天他被托儿索送去去托儿所时，遇到了这样的一个问题。</p>

<p>n个小朋友坐成一圈，每人有ai个糖果。每人只能给左右两人传递糖果。每人每次传递一个糖果代价为1。求使所有人获得均等糖果的最小代价。</p>

<p>样例解释</p>

<p>第一个小朋友的糖果数为1，第二个小朋友的糖果数为2，第三个小朋友的糖果数为5，第四个小朋友的糖果数为4。并且第一个小朋友和第四个小朋友相邻。</p>

<p>第四个小朋友给第一个小朋友1个糖果，代价为1。</p>

<p>第三个小朋友给第二个小朋友2个糖果，代价为2。</p>

<p>第二个小朋友给第一个小朋友1个糖果，代价为1。</p>

<p>故总代价为1+2+1=4。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>第一行一个正整数n&lt;=1000000，表示小朋友的个数．接下来n行，每行一个整数ai，表示第i个小朋友得到的糖果的颗数．(数据保证所有数的和整除n，即最终每个小朋友都能获得均等糖果）</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>一个整数，表示使所有人获得均等糖果的最小代价。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>4
1
2
5
4</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>4</code></pre>
  </div>
 </div>
</div>
