<div class="post">
 <div class="prob-titile">
  3  有两个孩子的家庭个数
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿“正德厚生”的南师大，非常关心社会家庭。学校开展了一个校内调查，想弄清楚有多少家庭有两个孩子。
收集来的数据是序偶的集合，序偶&lt;a,b&gt;表示a是b的双亲。请你从中计算出有两个孩子的家庭的数量。

在所有的测试案例中，n和xi和yi均为小于100000的正整数。</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入n+1行。第1行是整数n，表示有n个序偶。第2行到第n+1行，每行有两个用空格分开的整数xi和yi，表示xi是yi的双亲。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出1行，只有1个整数，表示有两个孩子的家庭的数量。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>4
1 3 
3 5
1 5
3 8
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>2</code></pre>
  </div>
 </div>
</div>
