<div class="post">
 <div class="prob-titile">
  细胞个数
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>有一天，源源和阳阳在食堂吃饭吃到了洋葱，他们就想起了初中的显微镜观察洋葱表皮细胞的日子。正好小张碰到了一个关于细胞的问题，于是他们三个一起讨论了起来：一个细胞矩阵大小为n*m，由字符0到9组成，字符1到9代表细胞，细胞的定义为沿细胞字符上下左右若还是细胞字符则为同一细胞，求给定矩阵的细胞个数。（1&lt;=m,n&lt;=100）  注意：读入的是字符。</p>

<p>样例解释（数字后面的()表示属于第几个细胞）：</p>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td>0</td>
			<td>2(1)</td>
			<td>3(1)</td>
			<td>4(1)</td>
			<td>5(1)</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>6(2)</td>
			<td>7(2)</td>
		</tr>
		<tr>
			<td>1(3)</td>
			<td>0</td>
			<td>3(1)</td>
			<td>4(1)</td>
			<td>5(1)</td>
			<td>6(1)</td>
			<td>0</td>
			<td>5(4)</td>
			<td>0</td>
			<td>0</td>
		</tr>
		<tr>
			<td>2(3)</td>
			<td>0</td>
			<td>4(1)</td>
			<td>5(1)</td>
			<td>6(1)</td>
			<td>0</td>
			<td>0</td>
			<td>6(4)</td>
			<td>7(4)</td>
			<td>1(4)</td>
		</tr>
		<tr>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>0</td>
			<td>8(4)</td>
			<td>9(4)</td>
		</tr>
	</tbody>
</table>

<p> </p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>第一行两个整数n,m(n行，m列)。
接下来n行m列，由数字0到9组成。
</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>细胞的个数。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>4  10
0234500067
1034560500
2045600671
0000000089
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>4</code></pre>
  </div>
 </div>
</div>
