<div class="post">
 <div class="prob-titile">
  硕哥的数学题
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>硕哥提出了一个朴素的数学问题。</p>

<p>首先输入T，表示测试数据组数，对于每组数据，输入n和m，输出一个数表示对于1&lt;=i&lt;=n,1&lt;=j&lt;=m中有多少对(i,j)不互质。</p>

<p>样例解释</p>

<p>第一个样例的可能情况(2,2)<br/>
第二个样例的可能情况(2,2)(2,4)(2,6)(3,3)(3,6)(4,2)(4,4)(4,6)</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>首先输入T，表示测试数据组数。
接下来每行，输入n和m。
对于100%的数据，满足T,n,m&lt;=50000
保证答案在longlong范围内</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>每行输出一个整数，表示答案。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>2
2 3
4 6
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>1
8
</code></pre>
  </div>
 </div>
</div>
