<div class="post">
 <div class="prob-titile">
  A1-2  分支结构练习：三数的特征值
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>输入任意三个整数，输出其中的中间值和最大值。 输出一行，两个整数，前者是中间值，后者是最大值。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入任意三个整数</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，两个整数，前者是中间值，后者是最大值。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>2 5 3
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>3 5

</code></pre>
  </div>
 </div>
</div>
