<div class="post">
 <div class="prob-titile">
  4  排序中的交换次数
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿在美丽的南师大，小明和小璐都喜欢推理、编程，所以常常在一起研究排序。
一天小明胡乱写了一个整数序列，他请小璐对它进行升序排序。但是在排序之前，他问小璐一个问题：最少经过几次交换，可以实现排序？ 
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入两行，第一行是一个正整数n（n&amp;lt;10000），第二行是n个用空格分开的整数（保证不超过整数的范围），每个整数彼此不等。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，一个整数k，表示最少交换次数。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>8
3 2 1 5 7 6 4 8

</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>3
</code></pre>
  </div>
 </div>
</div>
