<div class="post">
 <div class="prob-titile">
  2  取最大数的博弈游戏
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿在美丽的南师大，小明和小璐都喜欢推理、博弈，所以常常在一起玩桌游。一天小明写了一个整数序列，然后，两人轮流从首尾取一个数。谁先取到最大数，谁为赢家。请留意整数序列中最大数可能有多个。
游戏中小明是先手，请你帮他算一算，他一定能赢吗？
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入两行，第一行是一个正整数n（n&amp;lt;100000），第二行是n个用空格分开的整数（保证不超过整数的范围）。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，若小明一定能赢，则输出Win；否则输出Lost。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>4
1 5 6 2
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>Win
</code></pre>
  </div>
 </div>
</div>
