<div class="post">
 <div class="prob-titile">
  数字匹配（已更新并重测）
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>源源和阳阳在一起一个月以后，发现两个人有许多共同的爱好，不知不觉中他们都喜欢一个特定的数字。有一天，他们在纸上写出了N个数字，还有一个他们喜欢的数字m。现在他们想知道这N个数字中有多少个他们喜欢的数字。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>第一行为整数N，表示数字的个数(N ≤ 10000)；
第二行为N个整数，整数之间以一个空格分开；
第三行包含一个整数，为指定的数字m。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出为N个数中与m相同的数的个数。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>3
2 3 2
2
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>2</code></pre>
  </div>
 </div>
</div>
