<div class="post">
 <div class="prob-titile">
  硕哥的大整数
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>硕哥遇到了一个简单的计算题，但他发现要计算的数字有些大，于是他来求助你了。</p>

<p>求 <em>a</em> 乘 <em>b</em> 对 <em>p</em> 取模的值。</p>

<p>样例解释</p>

<p>3*4%5=12%5=2</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>第一行输入整数a，第二行输入整数b，第三行输入整数p。1≤a,b,p≤10^18</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一个整数，表示a*b mod p的值。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>3
4
5</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>2</code></pre>
  </div>
 </div>
</div>
