<div class="post">
 <div class="prob-titile">
  uncle-lu的种草日记
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p><br/>
新北山上有一排空地，uncle-lu想重些草上去，于是乎他将这一排空地分割成n块并标上号1...n。(这片空地上什么草都没有)</p>

<p>你完全想不到，uncle-lu个有E技能，他一口气可以在一段连续的区间内种上一株草。例如，他想在区间[2,5]上种草，一个E！那空地[2,5]上草数量分别+1。当然uncle-lu身体没那么好，他只能使用m次E技能。</p>

<p>当uncle-lu用完m次E技能，他有q个疑惑，他想知道某一块草地上的草的数量。</p>

<p>对于100%数据:1 &lt;= n &lt;= 10^8, 1 &lt;= m &lt;= 10^5 , 1 &lt;= q &lt;= 10^5</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>第一行包含3个正整数 分别是 n,m,q

接下来m行中，每行包含2个正整数 x,y 表示 uncle-lu 一次的E技能 在[x,y]区间内种一株草(保证x&lt;=y)

第m+2行，包含q个正整数 表示每次uncle-lu询问的草地.</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出包含q行，对于每次询问，输出询问答案</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>10 5 4
2 4
3 5
4 6
5 7
1 10
4 6 3 5</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>4
3
3
4</code></pre>
  </div>
 </div>
</div>
