<div class="post">
 <div class="prob-titile">
  次大值与次小值的差值
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>       源源和阳阳最近迷上了数字，但是他们不知道为什么，不喜欢最大也不喜欢最小的数字，他们只喜欢第二大和第二小的数字。现在，他们拿到了N个数字，他们想知道这N个数字中第二大的数字与第二小的数字的差值为多少。注意：相同的数算同一个。数据保证至少有三个不同的数字。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>	第一行为一个整数N（5&lt;=N&lt;=10000）。
	第二行为N个整数（保证每个整数在0到10000以内）。
</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>	这N个数字中次大值与次小值的差值为多少。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>10
4 9 0 4 9 1 6 7 5 1
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>6</code></pre>
  </div>
 </div>
</div>
