<div class="post">
 <div class="prob-titile">
  s-0-1班级活动之选人
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>﻿小华自从上大学后发现班级活动明显变多了，这天他们又准备去外面玩了，班长叫小华选出一些人在活动上表演节目，以下是小华选人的策略: 把班级中的n个人，编号为1～n。由班长从1开始数数。班长数1，所有人都蹲下。数2，先看2是不是素数，如果是，那么是这个数倍数的人改变动作(站着的话蹲下，蹲着的话站起来),其他人保持不动。如果2不是素数，所有人的不动。然后数3,看3是不是素数......直到班长数到k.最后就让站着的同学为大家表演。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>两个整数，n和k。k≤100000。n≤100000</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>站着的人的编号,中间用空格隔开。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>5 5
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>2 3 4 5
</code></pre>
  </div>
 </div>
</div>
