<div class="post">
 <div class="prob-titile">
  结构化的程序格式，是编程世界的基石。
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>程序设计至少包括结构化的设计方法和模块化的设计方法。在小小的程序中，我们有优雅的专业审美观。让我们试试吧。 输入三个无序的整数（不超过4个字节的整数范围），按照非降序（从小到大、相同数并列）的次序输出。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code></code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code></code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>-2 5 1
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>-2 1 5
</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent2">
   <pre><code>2 2 2
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent2">
   <pre><code>2 2 2
</code></pre>
  </div>
 </div>
</div>
