<div class="post">
 <div class="prob-titile">
  陇西行四首
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿晚唐时期，m名匈奴间谍混入了唐军阵营和原本的唐军组成了一个总共ab个人的方阵，只要有两个匈奴相邻（即一个匈奴在另一个匈奴的前后左右中的一个方位）就会爆发混乱。请问现在唐军将领有多少种布阵方法使其不发生混乱。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>第一行三个整数m，a，b，表示匈奴间谍数和方阵的长宽</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>一个整数，表示合法布阵的个数</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>2 3 2

</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>8
</code></pre>
  </div>
 </div>
</div>
