<div class="post">
 <div class="prob-titile">
  OO5-1 一元多项式类的求值
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿请设计一元多项式的项结构PolyListNode，用于存储系数和指数（均为整数）。请设计一元多项式类PolyList，实现一元多项式的运算。</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入三行，第一行是正整数n（n&amp;lt;100），第二行是n对系数和指数（没有约定的次序）。请你以此构造一元多项式类的对象P。
第三行是多项式中未知量的整数值x。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，一个整数，是将x带入P的运算值。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>3
3 5 4 2 1 0    
2
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>113
</code></pre>
  </div>
 </div>
</div>
