<div class="post">
 <div class="prob-titile">
  OO4-3 矩阵类的算术运算符的重载
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿请设计矩阵类Matrix3，其中数据成员为int v[3][3]。实现矩阵的算术、赋值运算符的重载。运算符*，即表示矩阵间的叉积，也表示矩阵与标量的乘法。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入四行，第一行是整数k；之后的三行，是矩阵m1,m2,m3，每行是一个矩阵的9个整数，按行主序排列。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出两行，分别是(m1+ m2- m3)*k，(m1* m2* m3)*k的值。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>4
1 0 0 0 1 0 0 0 1
2 0 0 0 2 0 0 0 2
1 0 0 0 1 0 6 8 1
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>8 0 0 0 8 0 -24 -32 8 
8 0 0 0 8 0 48 64 8
</code></pre>
  </div>
 </div>
</div>
