<div class="post">
 <div class="prob-titile">
  丑奴儿
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿登楼倦了，TY和LPJ在楼顶吃脆皮花生，他们带上来一个大箱子，箱子里有n包花生，每包花生里头的花生个数可能不同。两人轮流操作，每个人能从箱子中拿出任意包花生出来，或者从拿出来的花生中找一包吃掉若干颗花生（至少一颗）。由TY先手，当一个人无法操作时输掉比赛。先给出箱子里每包花生的数量，求最后赢家。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>第一行一个整数n，表示箱子中的花生包数。
第二行n个整数，表示每包花生的个数。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一个字符串
输出TY表示最终TY获胜
输出LPJ表示最终LPJ获胜</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>2
15 12
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>LPJ
</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent2">
   <pre><code>5
8 7 7 5 12
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent2">
   <pre><code>TY
</code></pre>
  </div>
 </div>
</div>
