<div class="post">
 <div class="prob-titile">
  2-1 比赛榜单
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿计算机学院组织了一场编程比赛。赛后的成绩表上，记录了每个选手（唯一性的）学号和成绩。小明和小璐负责发布榜单。
榜单要求按成绩从高到低排序；成绩相同的选手，按学号增序排序。比赛很成功，参赛人数非常多，所以他们需要编程。

测试数据中，50%的案例n&lt;1万；100%的案例n&lt;10万。</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入n+1行，第1行有两个正整数n和k，1&amp;lt;=k&amp;lt;=n。从第2行到第n+1行，每行有两个正整数xi和yi，分别表示学号和成绩。数据分割符是空格。
</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，榜单中第k行的学号和成绩。数据分割符是空格。
</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>5 2
101  300
103  600
104  500
105  200
102  500
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>102  500
</code></pre>
  </div>
 </div>
</div>
