<div class="post">
 <div class="prob-titile">
  偷拍硕哥5
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿硕哥要追上出题人了，出题人赶紧再出一个问题来阻挠硕哥。
出题人在脑中想了两个不相等的正整数a和b
然后他会告诉硕哥a&amp;b,a|b,a的值，但不一定按照这个顺序
让硕哥找到哪个值是a
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>第一行输入三个整数，表示a&amp;amp;b,a|b,a的值，但不一定按照这个顺序。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一个整数 即a</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>5 4 7

</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>5
</code></pre>
  </div>
 </div>
</div>
