<div class="post">
 <div class="prob-titile">
  偷拍硕哥4
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿出题人要跑路了，他瞬间分身成了n个人。在这些分身的面前有两个门a和b，a门通过一个分身的时间为t1秒，b门通过一个分身的时间为t2秒，求所有分身全部跑出去的最短时间。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>第一行三个正整数n，t1，t2。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一个整数 即最短时间</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>5 4 3
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>9
</code></pre>
  </div>
 </div>
</div>
