<div class="post">
 <div class="prob-titile">
  偷拍硕哥3
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿之前的小题目并没有卡住硕哥1s，所以，硕哥要揍死出题人啦。出题人选择立刻当舔狗，大呼硕哥“牛逼”，于是他瞬间在地上画出一个图形，由"0"和“#”组成，里头包含两个由“#”组成的字母，"N"和"B"（"N"和"B"的数目不一定相同）。现在硕哥只想知道里头有几个“B”，但是他忙着DNF打团，所以他将问题交给了你，希望你能够在1s内解决。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>第一行一个正整数n和一个正整数m，分别表示图形的行数和列数
接下来输入一个n行m列的图形，仅包含“0”和“#”</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一个整数，表示图形中有多少个“B”</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>8 19
0000000000000000000
0###00##00000000000
0#0##0#000#######00
0#00###000##0000##0
0#000##00#########0
000000000###000##00
0000000000##0000##0
0000000000#######00
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>1
</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent2">
   <pre><code>0000000000#######00
0000000000##0000##0
00000000000#######0
00000000000#000##00
0000000000##0000##0
0000000000###00##00
0000000000#######00

</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent2">
   <pre><code>00##############000
00#000000000000##00
00#000000000######0
00###############00
00#0000000000000##0
00#000000000000##00
00###############00
</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent3">
   <pre><code>00##############000
00#000000000000##00
00#000000000######0
00#####0#########00
00#0000000000000##0
00#000000000000##00
00###############00
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent3">
   <pre><code>00#############0000
00#000000000000##00
00#000000000######0
00###############00
00#0000000000000##0
00#000000000000##00
00###############00
</code></pre>
  </div>
 </div>
</div>
