<div class="post">
 <div class="prob-titile">
  OO1-2 时间类Time
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>﻿请设计时间类Time，实现时间的计算。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入两行，第1行是时间t1，由时分秒组成。第2行是时间t2，由时分秒组成。保证t1和t2是合法的时间，且t2在t1之后。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，一个整数，表示t1到t2之间的秒数。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>22 59 58
23 59 59
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>3601
</code></pre>
  </div>
 </div>
</div>
