<div class="post">
 <div class="prob-titile">
  OO11-1 vector&amp;lt;int&amp;gt;中的查找删除
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿计算两个向量的差集。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入四行，第一行是正整数na（na&amp;lt;10万），第二行是na个无序的整数。请按照此数列建立一个整数向量va。
第三行是正整数nb（nb&amp;lt;10万），第四行是nb个无序的整数。请按照此数列建立一个整数向量vb。
计算va与vb的差集，存入整数向量vc。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，是vc的数据序列。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>10
1 2 3 4 5 6 7 8 9 10
5
3 5 7 9 11
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>1 2 4 6 8 10 
</code></pre>
  </div>
 </div>
</div>
