<div class="post">
 <div class="prob-titile">
  OO10-2 基于vector的对象的排序
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿输入正整数n个学生成绩记录，对成绩进行降序排列，并输出。要求不使用数组，使用vector。

(本题可以不必创建自定义类。不过使用自定义类，会更好)</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入n+1行，第1行是正整数n（n&lt;10万），第2行至第n+1行，每行是姓名和成绩（整数）。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出n行，每行是姓名和成绩，按照成绩降序排列。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>5
ddd 91
aaa 92
bbb 93
eee 94
ccc 95
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>ccc 95
eee 94
bbb 93
aaa 92
ddd 91
</code></pre>
  </div>
 </div>
</div>
