<div class="post">
 <div class="prob-titile">
  2-6 单词频度表
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿在英语阅读中，小明和小璐常常发现“常用单词表”中的的一些单词不常用，有些常用单词却不在单词表中。于是他们决定制作自己的“常用单词表”。

</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入一行，一个字符串，你可以认为这是一篇全英文文章，长度不超过10万个字符，其中只有字母串组成的单词和空格和英文逗号和英文句号。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，一个整数，表示出现次数大于1的单词的个数。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>Tom like  Alice,,  Alice like Jerry, Jerry like Mike.

</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>3
</code></pre>
  </div>
 </div>
</div>
