<div class="post">
 <div class="prob-titile">
  2-8 条形码
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿小明和小璐在超市里闲逛。既然钱已经花光了，所以他们只好研究起了商品的条形码。
每个条形码由交替的黑白线条并列构成，最左边的总是黑线条。用x个1表示宽度为x的黑线条，y个0表示宽度为y的白线条，于是可以得到条形码对应的二进制编码。
小明发明了一个符号B(n, k, m)，表示满足以下条件的条形码的个数：总宽度为n，黑白线条总数为k，每根黑/白线条的宽度不超过m。
举例说明，B(7, 4, 3)等于16，因为合法的条形码有：
1000100，1000110，1001000，1001100，
1001110，1011000，1011100，1100010，
1100100，1100110，1101000，1101100，
1101110，1110010，1110100，1110110。
小明问小璐，若已知n, k, m，问B(n, k, m)等于多少？


在100%测试案例中，n,k均小于50，m小于10，保证计算中的数字在4个字节的整数范围内。</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入一行，有三个整数n，k和m，用空格分开。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，有一个整数，表示B (n, k, m)中的元素个数。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>7 4 3

</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>16
</code></pre>
  </div>
 </div>
</div>
