<div class="post">
 <div class="prob-titile">
  s-0-2班级活动之分苹果
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿这天，小华和班级的同学来到外面玩，在玩之前，组织委员让小华将同学们带的m个苹果分放在n个相同的盘子里（允许有的盘子空着不放，苹果必须放完）。当然了，本着公平的原则，小华应该将苹果平均分配，但小华是一个爱思考的人，他想知道总共的放法种数，你能帮他算出来吗。

</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>k+1行，第一行为测试数据的总数k,第二行到第k+1行每行两个整数,前面是苹果数m，后面是盘子数n，(n,m&lt;=20.k&lt;=100000)（5,1,1和1,5,1是同一种放法）</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>k行，每行一个整数表示一种放法种数</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>2
3 5
4 8
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>3
5
</code></pre>
  </div>
 </div>
</div>
