<div class="post">
 <div class="prob-titile">
  A8-7 删除字符串中一个子串
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>输入两行，第一行是字符串s，长度小于10万，可能含有空格。第二行是整数si和整数len。
请将s中从s[si]开始的长度为len的子串删除掉。请注意si和si+len可能越界。
输出一行，处理后的字符串s。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>We love program!
5 100
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>We lo
</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent2">
   <pre><code>We love program!
500 10
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent2">
   <pre><code>We love program!
</code></pre>
  </div>
 </div>
</div>
