<div class="post">
 <div class="prob-titile">
  2-2 约瑟夫问题
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿一天，小明和小璐在聊天时，回忆起童年的一个游戏。现在他们知道这个游戏的专业名称是“约瑟夫问题”。
童年游戏是这样的：N个人排成一圈，按照逆时针方向，各个人的编号从1到N。从第1个人开始从1报数，报到K的人出圈。然后继续从下个人开始，从1报数，报到K的人，自动出圈。重复以上步骤，直至圈中剩余一人。
大学里的游戏当然扩展了一点：K不是一个固定的整数，而是一个有m个正整数的数列{k1,k2,…,km}。游戏中，第1次报到k1的人出圈，第2次报到k2的人出圈，……，第m+1次报到k1的人出圈，如此循环反复。

</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入两行。第1行是整数N和m。第2行是m个的正整数，对应数列{k1,k2,…,km}。空格是数据分隔符。
N和m和{k1,k2,…,km}均为小于10万的正整数。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，圈中最后一人的编号。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>10 3
2 3 4

</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>8
</code></pre>
  </div>
 </div>
</div>
