<div class="post">
 <div class="prob-titile">
  卜算子
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿姑娘的庭院里有一棵白梅花树，每到深冬，梅花便可落得满头。因而有短句：何时仗尔看南雪，我与梅花两白头。
现在姑娘很好奇，这棵树上到底有多少对节点a，b满足a是b的祖先。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>第一行一个整数n，表示节点数。
第二行到第n行，每行两个整数u，v表示u到v有一条边。
第n+1行有一个数字rt，表示根节点编号。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行一个整数，表示多少对节点a，b满足a是b的祖先。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>4
1 2
1 3
2 4
1
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>4
</code></pre>
  </div>
 </div>
</div>
