<div class="post">
 <div class="prob-titile">
  2-4 攀登华山
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿海拔2154.9米的华山，据说有近万级台阶。
小明在攀登华山的过程中，有两种步伐：1个台阶/步，2个台阶/步。问攀登华山有多少种不同的走法？


测试数据中，20%的案例n&lt;30；100%的案例n&lt;1000。</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入一行，一个整数n。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，不同走法的种数。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>5
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>8
</code></pre>
  </div>
 </div>
</div>
