<div class="post">
 <div class="prob-titile">
  OO3-1 无序顺序表类的基本运算
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿请设计顺序表类SeqList，实现顺序表的基本运算。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入两行，第1行是正整数n；第2行是n个无序的正整数，请用它们构造线性表对象。
第3行是正整数m；第4行是m个整数，请将每个正整数插入线性表的尾部，将每个负整数的绝对值从线性表对象中删除掉。
题目保证0&lt;n, m&lt;100。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，是最终的线性表的数值，要求从小到大输出。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>6
5 3 4 6 1 2
4
-3 12 66 -7
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>5 4 6 1 2 12 66
</code></pre>
  </div>
 </div>
</div>
