<div class="post">
 <div class="prob-titile">
  OO4-2 向量的比较、赋值及向量集合类的排序
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿请设计向量类Vector3，其中数据成员为x,y,z，均为整数类型。实现向量的关系、赋值运算符的重载。向量之间的比较，是各自长度的平方的比较。
请设计向量数组类Vector3Array，实现向量数组类的选择排序函数。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入n+1行，第一行是整数n；之后的n行，每行是一个向量的三个整数。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出n行，每行是一个向量，按照向量的长度的平方的增序排列。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>4
0 0 3
1 0 3
1 0 0
0 2 0
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>1 0 0
0 2 0
0 0 3
1 0 3
</code></pre>
  </div>
 </div>
</div>
