<div class="post">
 <div class="prob-titile">
  OO1-5 日期时间类DateTime
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>﻿请在日期类Date和时间类Time的基础上，设计日期时间类DateTime，实现日期时间的计算。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入两行，第1行是时刻t，由年月日时分秒组成。保证t是合法的日期时间。
第2行是秒数s。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，年月日时分秒。表示t后s秒的时刻。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>2019 2 28 23 59 59
3
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>2019 3 1 0 0 2
</code></pre>
  </div>
 </div>
</div>
