<div class="post">
 <div class="prob-titile">
  OO2-2 复数类的比较运算符重载
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>﻿请设计复数类Complex，实现复数的比较运算符重载。设复数对象之间的比较是它们模之间的比较。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入三行，每行是一个复数的实部和虚部。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出三行，每行一个复数，按照模从小到大的次序输出。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>3 0
4 -5
0 1
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>0+1i
3
4-5i
</code></pre>
  </div>
 </div>
</div>
