<div class="post">
 <div class="prob-titile">
  s-0-6之阶乘问题
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿也许你早就知道阶乘的含义，N阶乘是由1到N相乘而产生，如：
12!=1×2×3×4×5×6×7×8×9×10×11×12=479,001,600
12的阶乘最右边的非零位为6,0的个数为2。
写一个程序，计算N(1≤N≤50,000,000)阶乘的最右边的非零位的值其右边零的个数。
注意:10,000,000!有2499999个零。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>仅一行包含一个正整数N</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>两个整数，空格隔开，表示最右边的非零位的值和其右边零的个数。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>12
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>6 2
</code></pre>
  </div>
 </div>
</div>
