<div class="post">
 <div class="prob-titile">
  A8-6 删除字符串中多余的多种字符
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿输入一个长长的字符串，将其中的某些种字符全部删掉。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入两行，第一行是字符串s，长度小于10万，可能含有空格。第二行是一个字符串t，长度小于10，可能含有空格。
请将s中的所有包含在字符串t中的字符全部删除掉。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，处理后的字符串s。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>We love program!
ea o
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>Wlvprgrm!

</code></pre>
  </div>
 </div>
</div>
