<div class="post">
 <div class="prob-titile">
  OO7-1 链表类的构造、析构
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿请设计链表结点类Node，实现其构造、析构函数。再设计链表类LinkList，实现其构造、析构函数。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入2行，第一行是正整数n（n&amp;lt;100）；第二行中包含了n个整数。
要求根据输入，构造一个线性链表对象。表中数据的次序与输入次序相同。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出2n+3行，第1行是LinkList()，最后1行是~LinkList()，表示线性链表对象的构造与析构的过程。
第2行至第n+1行，如测试案例所示，表示每个结点的构造过程。 
第n+2行，输出链表对象中的数据。 
第n+3行至第2n+2行，如测试案例所示，表示每个结点的析构过程。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>6
4 5 1 2 3 6
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>LinkList()
Node()4
Node()5
Node()1
Node()2
Node()3
Node()6
4 5 1 2 3 6 
~Node()4
~Node()5
~Node()1
~Node()2
~Node()3
~Node()6
~LinkList()
</code></pre>
  </div>
 </div>
</div>
