<div class="post">
 <div class="prob-titile">
  OO6-2 高精度整数类的加法运算
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿请设计高精度整数类BigInt，实现算术运算。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入两行，第一行是两个整数x1和k1；第二行是两个整数x2和k2。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，是x1的k1方与x2的k2方的和。
题目的输出结果，最大长度在1万位以内。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>2 10
3 3
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>1051
</code></pre>
  </div>
 </div>
</div>
