<div class="post">
 <div class="prob-titile">
  OO9-1 组合了日期类的人类的一生
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿请设计日期类Date，用于存储年月日。请设计人类Person，用于存储姓名Name和出生日期Birth和离家日期Leave。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入2行，每行是姓名和出生日期（年月日）和离家日期（年月日）。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出2*7=14行，表达了2个对象的构造与析构的过程。
前3*2=6行中，每3行表示了一个人类对象的构造过程。
之后的2行中，每1行是一个人类对象的输出。
之后的3*2=6行中，每3行是一个人类对象的析构过程。要求两个人类对象的输出次序是：年龄小的对象先析构。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>aaa 2000 1 1 2018 9 1
bbb 2000 1 2 2018 9 2
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>Date is Constructed: 2000-1-1
Date is Constructed: 2018-9-1
Person is Constructed: aaa
Date is Constructed: 2000-1-2
Date is Constructed: 2018-9-2
Person is Constructed: bbb
aaa 2000-1-1 2018-9-1
bbb 2000-1-2 2018-9-2
Person is Deconstructed: bbb
Date is Deconstructed: 2018-9-2
Date is Deconstructed: 2000-1-2
Person is Deconstructed: aaa
Date is Deconstructed: 2018-9-1
Date is Deconstructed: 2000-1-1
</code></pre>
  </div>
 </div>
</div>
