<div class="post">
 <div class="prob-titile">
  OO2-3 复数数组类的冒泡排序
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>﻿请设计复数类Complex类和复数数组类ComplexArray，实现ComplexArray的冒泡排序。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入n+1行，第1行是正整数n。之后的n行，每行是一个复数的实部和虚部。n&lt;100。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出n行，每行一个复数，按照模从小到大的次序输出。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>3
3 0
4 -5
0 1
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>0+1i
3
4-5i
</code></pre>
  </div>
 </div>
</div>
