<div class="post">
 <div class="prob-titile">
  偷拍硕哥7
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿硕哥叕要追上出题人了，出题人赶紧再出一个问题来阻挠硕哥。
出题人扔出了n个珠子，每个珠子可能为黑色，也可能为白色。现在他多次询问硕哥某一段区间里黑色珠子的个数。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>第一行两个正整数n和q，分别表示n个珠子和q个询问
第二行n个正整数，每个数可以为0或者1，其中0表示这个珠子为黑色，1表示白色
第三行到第q+2行，每行两个正整数u和v(u&amp;lt;=v)，表示求区间[u,v]内黑色珠子的数量</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>对于每一个询问
输出一个整数表示这段区间里黑色珠子的数量
每个输出中空一行</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>5 2 
1 0 1 0 0 
2 4
3 5 

</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>2
2
</code></pre>
  </div>
 </div>
</div>
