<div class="post">
 <div class="prob-titile">
  序列之争2
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿输入一个长度为n的整数序列，允许选择不超过m个连续的部分，使得选择元素之和最大。


100%的数据: n,m&lt;=10^5, |Ai|&lt;=10^4</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>第一行两个数n,m（ps：可以什么都不选）</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>第二行有n个数A1~An，要求在n个数选择不超过m个连续的部分，使得选择元素之和最大
一个数，即他们的选择元素的最大和</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>5 2 
2 -3 2 -1 2
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>5
</code></pre>
  </div>
 </div>
</div>
