<div class="post">
 <div class="prob-titile">
  5-6 过去了多少天
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿小明总是记不清日子，小璐为了帮助他，给他了一些生活提示。小璐说：你一定要记得和恋人初识的日子。小明说：这个我能记住。小璐又说：从那个日子到今天，过去了多少天，你也要记得。小明说：天哪，谈个恋爱，这么难！


题目保证日期数据的合理性，并且第一个日期不晚于第二个日期。</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入两行。第一行是3个整数（年月日），用空格分开。第二行也是3个整数（年月日），用空格分开。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，1个整数，表示两个日期之间的天数。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>2000 1 1
2000 1 1

</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>0
</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent2">
   <pre><code>2000 1 1
2001 1 1

</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent2">
   <pre><code>366

</code></pre>
  </div>
 </div>
</div>
