<div class="post">
 <div class="prob-titile">
  2-2 编程题
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>在指定的数据范围内，查找满足以下条件的三位数：其平方数中有连续的三位数字就是该数本身。例如，250的平方数是62500，250便是一个满足条件的三位整数。
1. 编写函数int find(int xmin, int xmax, int a[][2])。函数功能是，在[xmin,xmax]中，查找所有满足上述条件的数及其平方数，将其存入a指向的二维数组中，函数返回满足上述条件的三位数的个数。
2. 编写main函数。函数功能是：输入整数xmin和xmax，数据范围是[100,999]，且xmin&lt;xmax；
声明二维数组a，用数组a作为实参，调用函数find，输出满足条件的三位整数及其平方数。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>100 300
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>100    10000
250    62500
</code></pre>
  </div>
 </div>
</div>
