<div class="post">
 <div class="prob-titile">
  6-5 矩阵的行排序
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿本着“你不玩它，它就玩你”的学习态度，这一天，小明和小璐正在玩矩阵。他们想利用刚刚学到的排序算法，玩赢矩阵。
小璐随手写了一个m行n列的整数矩阵，要求小明，对矩阵的每一行进行排序。

</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入m+1行，第1行，两个整数m和n，2&amp;lt;=m,n&amp;lt;=100，表示矩阵的行数和列数。第2行至第m+1行，每行n个整数，彼此用空格分开。表示矩阵的数据。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出m行，每行n个整数，彼此用空格分开。表示行排序后的矩阵。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>4 5
5 2 3 4 1
24 27 28 25 26
42 41 40 43 23
22 49 48 39 44
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>1 2 3 4 5
24 25 26 27 28
23 40 41 42 43
22 39 44 48 49
</code></pre>
  </div>
 </div>
</div>
