<div class="post">
 <div class="prob-titile">
  我来打造合身的护甲-3
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿众所周知，战士是叠甲最慢的职业。
麦格尼·铜须有N个法力水晶和M种不同的法术，其中第i种法术最多可用Ki次。每次使用法术会消耗一定量的法力水晶并获得一定量的护甲。他想知道如何使用这些法术才能使他获得最多的护甲。

</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>第1行输入两个正整数N和M，0 &amp;lt; N, M &amp;lt;= 10000,
第2行至第M+1行分别输入M种法术的费用、使用之后获得的护甲以及该法术最多的使用次数。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一个正整数，即麦格尼・铜须能够获得的最多的护甲量。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>10 4
2 1 1
3 3 1
4 5 1
7 9 1
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>12
</code></pre>
  </div>
 </div>
</div>
