<div class="post">
 <div class="prob-titile">
  5-3 最大公约数
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿童年的回忆是美好的。仔细认真的回忆中，小明和小璐发现，许多童年的问题和方法，在程序世界里，可以扩展实现。
曾经，小学数学老师教我们求两个整数的最大公约数，现在我们掌握了辗转相除算法。能不能求N个数的最大公约数呢？

</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入两行，第1行是正整数n（2&amp;lt;=n&amp;lt;10000）。第2行是n个正整数，用空格分开。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输入一行，一个整数。表示这n个正整数的最大公约数。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>3
25 125 55
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>5
</code></pre>
  </div>
 </div>
</div>
