<div class="post">
 <div class="prob-titile">
  8-2 编程题
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>在给定范围内查找k使得用公式k*k+k+17生成的整数满足以下条件：该数的十进制表示中低3位数字相同，去掉低3位后的整数是回文数。例如，当k=461时用公式生成的整数是212999，该数满足所给条件。
(1)编写函数int findnum(int n1,int n2,long a[][2])实现以下功能：k依次取n1～n2范围内的每个整数，分别用每个k及公式k2+k+17生成整数y，若y满足给定条件，则将k值及y 值保存到a指向的数组中，函数返回a数组中k的个数。 
(2)编写函数main实现以下功能：声明二维数组a和变量n1、n2，输入两个整数并保存到 n1、n2中，用n1、n2及a数组作实参调用findnum函数，输出a数组中的数据。</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code></code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code></code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>400 600 
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>461 212999 
586 343999 
3839 14741777 
</code></pre>
  </div>
 </div>
</div>
