<div class="post">
 <div class="prob-titile">
  xk-3：删除数字
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿康康拿到一串非常长的数字字符串，他想从该字符串中删除一些数字使剩下的字符串表示的数字最小。

</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>第一行为一个只包含数字的字符串（表示一个非负整数，没有前导0），长度小于1e4
第二行为一个整数k，表示要从该字符串中删除k位数字，k小于等于字符串的长度</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>只有一行，以字符串格式输出，要求不包含前导0</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>10200
1
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>200
</code></pre>
  </div>
 </div>
</div>
