<div class="post">
 <div class="prob-titile">
  A9-2  数组中最小正数的下标
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>自定义函数FindiMinPos(….)，查找某个数组中的最小的正数的下标。
编写main()函数，定义两个整数数组a,b（空间大小均不超过10000）；输入正整数n1和n2；然后输入n1个正整数存入数组a，输入n2个正整数存入数组b；分别调用FindiMinPos函数，并分别输出相应的下标。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>5 6
-5 2 -3 15 -1
9 -11 8 -11 4 -5
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>1 4
</code></pre>
  </div>
 </div>
</div>
