<div class="post">
 <div class="prob-titile">
  序列之争4
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿输入一个长度为n的整数序列A1~An，满足其中的数两两各不相同且构成一个1~n的排列。现在进行如下定义：
若存在1&lt;=i&lt;j&lt;k&lt;=n且Ai&gt;Aj,Aj&lt;Ak,则称Ai,Aj,Ak组成了一个形状A
若存在1&lt;=i&lt;j&lt;k&lt;=n且Ai&lt;Aj,Aj&gt;Ak,则称Ai,Aj,Ak组成了一个形状B
求这个序列中形状A和形状B的个数


10%的数据 n&lt;=600
40%的数据 n&lt;=5000
100%的数据 n&lt;=200000，答案不超过long long</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>第一行一个数n
第二行有n个数A1~An</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>两个数，中间用空格隔开，依次为形状A的个数和形状B的个数</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>5
1 5 3 2 4
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>3 4
</code></pre>
  </div>
 </div>
</div>
