<div class="post">
 <div class="prob-titile">
  4-7 密钥表与替代密码
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿小明和小璐在认真的研究了凯撒密码后，认定凯撒密码，只有一个密钥，很容易被破解。于是他们了解了替代密码。
替代密码有一个密钥表。加密时，查找密钥表，为明文中的字符，找到对应的替换字符。由此，从明文得到密文。

</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入两行，第1行是密钥表，长度为26个字符，是’a’到’z’的一个排列。第2行是明文字符串，长度不超过10万。其中大小写字母需要加密，其余字母不变。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，密文字符串。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>opqrstuhijklmnvwxyzabcdefg
We like Program!We like WangQiong! 
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>Ds liks Wyvuyom!Ds liks DonuXivnu!
</code></pre>
  </div>
 </div>
</div>
