<div class="post">
 <div class="prob-titile">
  (ty 1-3) 分组
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>﻿子曰：君子群而不党，小人党而不群。 班级里学生们自己分成了一些小组，老师为了方便管理，要保证每组学生人数都在一定范围内，所以要进行调整。 为了减少调整的麻烦，老师要尽量少的把一些学生调到其他组中。 现有N组学生，给出初始时每组中的学生个数，再给出每组学生人数的上界R和下界L(L≤R)。 每次你可以在某组中选出一个学生把他安排到另外一组中，问最少要多少次才可以使N组学生的人数都在[L,R]中。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>三行
第一行一个整数N，表示学生组数； n≤1000000
第二行N个整数，表示每组的学生个数(每组学生个数为1-1000000)；
第三行两个整数L,R，表示下界和上界。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>一行
一个数，表示最少的交换次数，如果不能满足题目条件输出-1</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>2
10 20
10 15
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>5
</code></pre>
  </div>
 </div>
</div>
