<div class="post">
 <div class="prob-titile">
  DS2-1  括号的匹配
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>自定义栈结构，及其基本运算。
设计函数Match(……)，判断字符串中的圆括号的匹配情况。
编写main()函数，读入一个字符串（长度小于1000），调用Match等函数。
若左右圆括号匹配，则输出"ok"；
若左括号多于右括号，则输出"left"及所有失配的左括号的下标；
若右括号多于左括号，则输出"right"及第一个失配的右括号的下标。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>((a+b)*(c+d))
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>ok
</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent2">
   <pre><code>a+((a+b)*((c+d)+z
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent2">
   <pre><code>left 9 2
</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent3">
   <pre><code>(a+b)*(c+d))
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent3">
   <pre><code>right 11
</code></pre>
  </div>
 </div>
</div>
