<div class="post">
 <div class="prob-titile">
  缺失的正整数
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿有一个没有排序过的整型数组，你需要找到其中缺失的第k个正整数。
要求：时间复杂度O(n),空间为O(1)。


对于100%的数据，0 &lt; m &lt; 10^9, a(a是数组中的任何可能的数) &lt; 10^4,
0 &lt; k &lt; 10^8。</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入包含多行的测试数据，每个测试数据占1行。
第一行输入n为测试数据的个数
接下来每个测试数据占3行。
第一行有一个数字，为数组中数据的个数m。
第二行有m个数，为数组中的数，这一行的每个数之间以空格为间隔。
第三行有一个数字，为k。
每组测试数据之间有一个空行作为间隔。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>对于每组测试数据，输出一个整数，为该组数据缺失的第k个正整数。
每组测试数据的结果结尾为换行符。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>3
3
1 2 0
1



4
3 4 -1 1
1

5
7 8 9 11 12
2
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>3
2
2
</code></pre>
  </div>
 </div>
</div>
