<div class="post">
 <div class="prob-titile">
  6-9 哪个字母用得最多
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>﻿元旦假日，一起闲聊。小璐说：我最近在学习统计编码，注意到每个字符的使用频度不同。据说字母’e’的使用频度最高，但是，这个结论，让我不放心。 小明说，这简单，编个程序，验算一下。说不定还有别的发现呢！当然，统计中，就不区分字母的大小写了。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入一行，一个长长的字符串，长度不超过10万，表示被统计的对象。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出1行，有若干个字符，彼此用空格分开。表示出现频度最高的字符（一律小写），并且按ASCII值得升序排序。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>AAA=fopen("data\\data\\Input\\input0.txt","r",stdin);</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>a t
</code></pre>
  </div>
 </div>
</div>
