<div class="post">
 <div class="prob-titile">
  战斗民族
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿赛亚人是十分强大的民族。当他们在战斗中垂死时，他们就会变强并击败对手（也就是说，无论同谁战斗，赛亚人总是能取胜）。同时，他们也很骄傲，不会选择战斗力比他们低的敌人。
一天，一波战斗力不等的外星人一个接着一个妄图挑战赛亚人。当被派出应战的赛亚人击败了一个战斗力为X的敌人，骄傲的他将不会再与战斗力低于X的敌人战斗。贝吉塔王想知道，最少派出几个赛亚人战士便可击败所有敌人。

</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>第1行输入一个正整数N，0 &amp;lt; N &amp;lt;= 10000，表示外星人的数量。
第2行输入N个正整数，分别表示外星人的战斗力。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一个正整数，即最少派出赛亚人的数量。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>8
5 100 10000 500 2000 120 300 3000
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>3
</code></pre>
  </div>
 </div>
</div>
