<div class="post">
 <div class="prob-titile">
  5-1 互质数
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿在研究最大公约数的过程中，小明和小璐认识了互质数。若两个正整数的最大公约数是1，那么称它们是互质数。
那么，指定一个正整数n，那么n以内，有多少对互质数呢？

</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入一行，正整数n（2&amp;lt;=n&amp;lt;1000）。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，一个整数，表示n以内互质数的对数。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>6
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>6
</code></pre>
  </div>
 </div>
</div>
