<div class="post">
 <div class="prob-titile">
  6-4 步子走大了有点累
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿这一天，小明和小璐正在上楼，他突然停了下来。小璐问他：何事？小明说：我有三种步伐：1个台阶/步，2个台阶、3个台阶。从1楼到2楼有n级台阶。我正在思考，有多少种不同的走法。
小璐说：这个问题，你早就解决了，还想什么？
小明说：每当我走了一步3个台阶后，就有点累，下一步就只能走一步1个台阶了。增加了这个约束条件后，有多少种不同的走法呢？
小璐说：看来上个楼，也不容易啊!

</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入一行，一个整数n，n&amp;lt;30，表示台阶数。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，一个整数，表示不同走法的个数。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>4
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>7
</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent2">
   <pre><code>5
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent2">
   <pre><code>12
</code></pre>
  </div>
 </div>
</div>
