<div class="post">
 <div class="prob-titile">
  谁更聪明？
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿为了比较谁更聪明，Aquaman、Batman、Superman决定玩一个游戏。给出长度为n且只含字符A，B，C的字符串，每次可以任选一个非C的位置，将其及其左侧的数字进行一次翻转（A-&gt;B，B-&gt;C， C-&gt;A），最后一个能够执行操作的人胜出。按照Superman-&gt;Aquaman-&gt;Batman的顺序进行操作。
若初始情况一次翻转都无法进行，则判定Batman胜出。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>共一行输入，即给定的字符串，长度20&amp;lt;=length&amp;lt;=1000。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出获胜者的名字+Win。如：Aquaman Win</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>ABC
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>Aquaman Win
</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent2">
   <pre><code>C
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent2">
   <pre><code>Batman Win
</code></pre>
  </div>
 </div>
</div>
