<div class="post">
 <div class="prob-titile">
  2-9 大卖场的货架
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿假期里，小明和小璐在大卖场里打工。大卖场里有很多货架，货架分成层和列，其中每个格子的位置可以用列号、层号来表示。商品放在格子中。
为了拿到任意格子中的商品，必须使用梯子。梯子只能靠在一列上，此时可取下该列及其相邻两列格子中的商品，但只限于所爬层高及其以下的格子。
为简化问题，小明和小璐，决心认真研究一个货架的最佳取货方法。优化目标是尽量少爬梯子。即取下一个货架中的所有商品，可能需要爬多次梯子，目标是爬梯子的高度总和最小。</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入n+2行。第 1行有 2个整数 C和 R（1≤C, R≤100），分别表示货架的列数和层数。第 2行有1个整数n（1≤n≤100），表示所有商品的数量。第 3行至第n+2行，每行有2个整数c和r（1≤c≤C，1≤r≤R），分别表示每个物品的列号和层号。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，1个整数，表示为拿到所有商品，需要爬梯子的最小高度和。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>5 5
3
2 3 
3 4 
4 4

</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>4
</code></pre>
  </div>
 </div>
</div>
