<div class="post">
 <div class="prob-titile">
  (lpj 1-5)Fence loop
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿Farmer John（以下简称FJ）的农场有一片由柱子和栅栏构成的牛圈。
两个柱子之间可以有一条栅栏连接，但一个柱子可以和多个其他的柱子用栅栏连接。
如果栅栏围成封闭的一圈就可以形成一个牛圈。
奶牛们喜欢在牛圈里绕圈散步。
由于设计不周，有的牛圈周长太短，住在那儿的奶牛向FJ抱怨散不了几步又回到起点了。
FJ决定接受民意，拆掉周长最小的那个小牛圈，就请你用计算机找出这个牛圈。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入M+1行，第1行两个整数分别是柱子的数量N和栅栏的数量M。我们把这N个柱子的编号为1，2，3……N。
第2到M+1行，每行都是三个整数A，B，L，表示编号A的柱子和B的柱子之间有一条长L的栅栏连接。题目保证可以形成牛圈。2&amp;lt;=N&amp;lt;=100，1&amp;lt;=M&amp;lt;=3000，1&amp;lt;=L&amp;lt;=1000。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出1个整数，表示周长最短的牛圈的周长。</code></pre>
  </div>
 </div>
</div>
