<div class="post">
 <div class="prob-titile">
  (ty 1-1) 多进制回文数
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿进制、回文是很美妙的东西，现在把这两个美妙的东西结合起来。
一个整数，如果这个数的2-10进制表示中(包括二进制和十进制)，至少有两个进制是回文，那么将它称为多进制回文数。
例如，(63)D=(111111)B=（77）O。可以看出63的二进制和八进制表示都是回文，那么63就是一个多进制回文数。
现在输入整数N(1&lt;=N&lt;=15)，S(0<s<10000)，求出大于s的前n个多进制回文数。 <="" pre=""></s<10000)，求出大于s的前n个多进制回文数。></code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>两个整数N S</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>N行，每行一个整数，N个整数从小到大排列，表示比S大的前N个多进制回文数</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>3 25
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>26
27
28
</code></pre>
  </div>
 </div>
</div>
