<div class="post">
 <div class="prob-titile">
  (ty 1-6) 最大草场
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>﻿Farmer John的牧场是一块N*N的矩阵网格，FJ在这N*N个网格中的某些格种了草。 连通的种草的网格形成了若干块草场（连通指上下左右连通）（每块草场不一定是正方形）。 FJ决定分配给奶牛Bessie一块草场。 Bessie为了能获得更大的草场，决定在一个不种草的格子上种上草（当然如果所有网格都种了草就不用再种了）。这样有可能将几块原本不连通的草场连起来，得到一个更大的草场。 为了帮助Bessie，你要求出新的牧场上最大的草场面积。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>N+1行
第1行一个整数，表示N(2&lt;=N&lt;=1000)
第2-N+1行，每行N个整数，0表示不种草，1表示种草</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>一个整数，表示新的牧场上最大的草场面积。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>2
1 0
0 1
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>3
</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent2">
   <pre><code>2
1 1
1 1
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent2">
   <pre><code>4
</code></pre>
  </div>
 </div>
</div>
