<div class="post">
 <div class="prob-titile">
  序列之争3
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿输入一个长度为n的整数序列，从中找出两个数，使得他们的异或值最大。


对于100%的数据: n&lt;=10^5, 0&lt;=Ai&lt;2^31</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>第一行一个数n（ps：两个数字可以相同，即n=1时，答案为0）
第二行有n个数A1~An，要求在n个数找出两个数，使得他们的异或值最大</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>一个数，即他们的最大异或值</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>3
1 2 3
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>3
</code></pre>
  </div>
 </div>
</div>
