<div class="post">
 <div class="prob-titile">
  5-2 编程题
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>一. 编写函数void creaort(int a[][3],int n)。函数功能是: 计算a指向的二维数组中第1列（列下标为0）和第2列（列下标为1）的和，存入第3列中；以行为单位重排a数组的各行，使得所有行按第3列元素值从小到大排列；若第3列元素值相等，则按第1列元素值升序排列。
二. 编写main函数。函数功能是声明100行3列二维数组a，先输入整数n，n&lt;=100；再输入n行数据，每行2个整数。用数组a作为实参调用cresort函数，将a数组中数据输出到屏幕中。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>5
27   16
11   12
6     9
7     8
6     9
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>6   9   15  
6   9   15  
7   8   15  
11  12  23  
27  16  43  
</code></pre>
  </div>
 </div>
</div>
