<div class="post">
 <div class="prob-titile">
  xxyw1-5螺旋矩阵
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿将一个给定字符串根据给定的行数m和列数n，按照顺时针螺旋顺序排列。输出从左往右逐行读取产生的新的字符串。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入第一行为字符串</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>第二行为给定的行数和列数。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>LEETCODEISHIRING
4 4
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>LEETIRICHGNOSIED
</code></pre>
  </div>
 </div>
</div>
