<div class="post">
 <div class="prob-titile">
  xxyw1-3快乐数
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>﻿定义一次操作：对于一个正整数，每一次将该数替换为它每个位置上的数字的平方和。
一个“快乐数”定义为：对于一个正整数，重复上述操作直到这个数变为1。也可能是无限循环但始终变不到1。如果可以变为1，那么这个数就是快乐数。

n &lt; 1000000。</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入为一个正整数n</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>如果该数为快乐数，输出经过多少次上述操作这个数变为1，否则输出该数每次操作后可能会变成的数（包括该数）的总数。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>19
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>4
</code></pre>
  </div>
 </div>
</div>
