<div class="post">
 <div class="prob-titile">
  最大草场
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>Farmer John的牧场是一块N*N的矩阵，FJ在这N*N个小格子中的某些中上了草，分配给他的奶牛作为领地。每个奶牛的领地是连通的种草的格子（连通指上下左右连通）（领地不一定是正方形）。Cow Bessie为了能占据更大的领地，决定在最多一个不种草的格子上种上草，这样有可能将几个领地连起来，出现一个更大的领地，为了帮助Bessie，你要求出新的牧场上最大的领地面积。<br/>
 </p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>第1行一个整数，表示N(2&lt;=N&lt;=1000)
第2-N+1行，每行N个整数，0表示不种草，1表示种草</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>一个整数，表示新的牧场上最大的种草的格子面积。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>2
1 0
0 1</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>3</code></pre>
  </div>
 </div>
</div>
