<div class="post">
 <div class="prob-titile">
  盖板子
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>Cow Bessie想要去探险，它来到一座山前面，面前出现了n个洞口，这些洞口排在一条直线上。这些洞口中有一些有陷阱，为了不让Bessie受伤，你找来了一些板子，要将那些有陷阱的洞口盖住。由于时间仓促，你只找到了k个板子，这些板子可以是任意长度。为了让Bessie去更多安全的洞口探险，现在问在盖住所有陷阱的情况下，你最少会盖住多少安全的洞口。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>第一行 k和p，k个板子，p个陷阱（保证k不会大于p）
第二行 一个字符串，由01组成，表示所有洞口，0表示洞口安全，1表示洞口有陷阱</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>一个整数，表示在盖住所有死路的情况下，最少会盖住多少不是死路的洞口。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>2 3
01001010</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>1</code></pre>
  </div>
 </div>
</div>
