<div class="post">
 <div class="prob-titile">
  B4-6 一个密钥的凯撒密码
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>小明和小璐在研究加密技术。一般我们把人类看的懂的文章，称为明文。然后用密钥对其进行运算，得到人类看不懂的文章，就是密文。 据说凯撒最早干过这事，他发明了凯撒加密方法，属于对称加密体制。只有一个整数密钥k。将明文中的每个字母，翻译成其在字母表上位置之后的第k个字符，就得到了密文。 若k=3，则'A'对应的密文字母'D'，'B'对应的密文字母'E'，……，'X'对应的密文字母'A'，'Y'对应的密文字母'B'，'Z'对应的密文字母'C'。小写字母也是如此对应。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入两行，第1行是明文字符串，长度不超过10万。其中大小写字母需要加密，其余字母不变。第2行是正整数密钥k。 </code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，密文字符串。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>We like Program!We like WangQiong! 
3
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>Zh olnh Surjudp!Zh olnh ZdqjTlrqj!
</code></pre>
  </div>
 </div>
</div>
