<div class="post">
 <div class="prob-titile">
  B6-1 和为定值的数对
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>在学习数组的过程中，小明和小璐常常关心数组中元素之间的关系。他们觉得每个数组元素，都是一个精灵。既然是精灵，他们就想配对。 这一天他们想在数组x中，寻找满足x[i]+x[j]=m的数字对，i与j不相等。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code> 输入两行，第1行是整数n和m，n&lt;=10万。第2行是n个彼此不等的整数，彼此用空格分开。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，1个整数，表示满足x[i]+x[j]=m的数字对的个数。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>6 8
4 5 6 1 2 3
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>2
</code></pre>
  </div>
 </div>
</div>
