<div class="post">
 <div class="prob-titile">
  B6-10 哪个字母对用得最多
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>在统计了哪个/些字母的使用频度最高之后，今天，小璐和小明再次一起喝茶聊天。 小明忙着吃茶点的时候，小璐若有所思地说：我们统计的单位是不是太小。小明说：哦？ 小璐说：如果我们统计的单位是两个连续的字母，结论会怎样？小明说：哦？ 小璐说：哦什么哦！编程去！去编程！ （当然，统计中，不区分字母的大小写了。）
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入一行，一个长长的字符串，长度不超过10万，表示被统计的对象</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code> 输出1行，有若干个长度为2的字符串，彼此用空格分开。表示出现频度最高的字符串（一律小写），并且按字典序排序。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>You Have done Exam! Happy Happy New Year!Congratulations!
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>ha on
</code></pre>
  </div>
 </div>
</div>
