<div class="post">
 <div class="prob-titile">
  B1-4 最大值的个数
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>输入一个有n个整数的序列，计算该序列中最大值的个数</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入包括两行 第一行一个整数n 第二行有n个用空格分开的整数 输入保证所有n&lt;10万 0&lt;每个数字&lt;1000</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一个数，表示答案</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>10
4 5 8 2 8 7 8 1 2 3
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>3
</code></pre>
  </div>
 </div>
</div>
