<div class="post">
 <div class="prob-titile">
  B5-4 最小公倍数
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>童年的回忆是美好的。仔细认真的回忆中，小明和小璐发现，许多童年的问题和方法，在程序世界里，可以扩展实现。 曾经，小学数学老师教我们用摆竖式的方法，求n个整数的最小公倍数。今天我们能用程序实现吗？</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入两行，第1行是正整数n（2&lt;=n&lt;10000）。第2行是n个正整数，用空格分开。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code> 输出一行，一个整数，表示这n个正整数的最小公倍数。（题目保证数据不超过4个字节的整数范围）</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>4
8 6 10 4
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>120
</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent2">
   <pre><code>8
8 7 6 5 4 3 2 1
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent2">
   <pre><code>-1
</code></pre>
  </div>
 </div>
</div>
