<div class="post">
 <div class="prob-titile">
  B2-4 点名上前
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>操场上，上体育课。同学们排成一队，教练点名。被点到的人，站到队首来。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入两行，第一行是整数n（n&lt;100000）和整数序号k(0&lt;=k&lt;n)；第二行是n个整数x(1) x(2) …… x(n)，其间用空格分开。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，是n个用空格分开的整数: x(k) x(1) x(2) … x(k-1) x(k+1) … x(n)。 </code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>8 3
5 6 1 2 3 4 7 8

</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>1 5 6 2 3 4 7 8
</code></pre>
  </div>
 </div>
</div>
