<div class="post">
 <div class="prob-titile">
  B4-1 旅游住处
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>小璐去旅游，景点都分布在高速公路的两旁。我们可以设想高速公路是一条坐标轴，每个景点有自己的坐标。 小璐需要选择一个景点作为自己的住处，她想最佳住处到所有景点的距离的总和应该最小。于是她陷入了沉思。你来帮助她编程程序吧，输出最佳住处对应的最小距离和。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入两行，一行是整数n，0&lt;n&lt;10万。第2行是由空格分开的n个整数，n个整数各不相同，未必有序。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，一个整数，表示最佳住处对应的最小距离和。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>9
5 6 1 2 9 3 4 7 8

</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>20
</code></pre>
  </div>
 </div>
</div>
