<div class="post">
 <div class="prob-titile">
  B4-5 有几个鞍点
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>小明和小璐学到二维数组（矩阵）后，真实的感受到了编程、数学、应用之间的联系。 有一天，他们从地科院同学那里，得到了一个矩形区域的海拔高度的数据文件。该矩形区域被划分为m行n列的单元，每个单元有一个海拔高度。这是一个很大的数据文件，5&lt;=m,n&lt;500。 地科院的同学告诉小明和小璐，若某单元在所处行中是最大值，在所处列中是最小值，则称该单元为鞍点。他们想到鞍点处进行地质调查，所以需要知道这个矩形区域有几个鞍点。小明和小璐说，我们可以编程解决。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入m+1行，第1行是两个整数m和n，表示行数和列数。从第2行到第m+1行，每行有n个用空格分隔的整数，表示每行上n个单元的海拔。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code> 输出一行，一个整数，表示鞍点单元的个数。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>5 4
0 2 3 0
0 2 3 0
0 1 1 0
0 2 3 0
0 2 3 0
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>2
</code></pre>
  </div>
 </div>
</div>
