<div class="post">
 <div class="prob-titile">
  A5-1  超级素数判断
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>若一个素数，依次舍掉个位，得到的每个整数都是素数，则该素数称为超级素数。 输入任意正整数，判断该数是否是超级素数。若是，则输出Yes；否则输出No。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入任意正整数</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>若是超级素数，则输出Yes；否则输出No</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>2333
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>Yes
</code></pre>
  </div>
 </div>
</div>
