<div class="post">
 <div class="prob-titile">
  B1-2 斐波那契数列的和
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>输入两个正整数k1,k2（保证k1&lt;=k2）。输出斐波那契数列的第k1项到第k2项的和。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入两个正整数k1,k2（保证k1&lt;=k2）</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出斐波那契数列的第k1项到第k2项的和</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>3 6 
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>18
</code></pre>
  </div>
 </div>
</div>
