<div class="post">
 <div class="prob-titile">
  B2-1 单个数的3N+1猜想
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>请你任意输入一个整数x（1&lt;x&lt;100），按照以下法则进行变换，最终数字一定会变成为1。如果x是一个奇数，则下一步变为3x+1；如果x是一个偶数，则下一步变成x/2。<br/>
 </p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入正整数x</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出x经过该变换到达1的步骤数。 </code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>6
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>8
</code></pre>
  </div>
 </div>
</div>
