<div class="post">
 <div class="prob-titile">
  B4-3 爱情故事
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>读书时，小明有很强的代入感。一天他读到一篇优美的爱情故事，他觉得自己就是男主。为此，他想把故事里的男主的名字，全部换成和自己相关的名字。 可是故事很长，太多的手工操作，显然没有诗意。所以需要编程实现。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入三行，第1行是一个长长的字符串，代表故事的内容。长度不超过10万。第2行是一个字符串，其中不含空格，代表故事中男主的名字。第3行是一个字符串，其中不含空格，代表小明编造的名字。 </code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code> 输出一行，一个长长的字符串，代表改编后的故事内容。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>He study Program. He like Program. He love Program!
He
XiaoMing

</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>XiaoMing study Program. XiaoMing like Program. XiaoMing love Program!
</code></pre>
  </div>
 </div>
</div>
