<div class="post">
 <div class="prob-titile">
  A10-2  有序子序列的合并
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>自定义函数MergeSubs，实现指定无序数组中的所有相邻的增序子序列的有序合并。若指定数组中有奇数个增序子序列，那么最后一个增序子序列，保持原状。 编写main()函数，定义两个整数数组a1,a2（空间大小均不超过10000）；输入正整数n1和n2；然后输入n1个无序的整数存入数组a1，输入n2个无序的整数存入数组a2；调用MergeSubs函数，实现数组a1和a2的内部合并，并分别输出a1和a2中的所有数据。</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入正整数n1和n2；然后输入n1个无序的整数存入数组a1，输入n2个无序的整数存入数组a2</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>两行分别输出a1和a2中的所有数据</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>6 4
1 4 7 2 4 15
6 1 18 3
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>1 2 4 4 7 15
1 6 18 3
</code></pre>
  </div>
 </div>
</div>
