<div class="post">
 <div class="prob-titile">
  G7-2 数组部分元素逆序存放
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>描述 将一个整数数组（共n个数）中从第2个数到第n-1个数的值按逆序重新存放。例如，原来的顺序为8,6,5,4,1。要求改为8,4,5,6,1。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入为两行：第一行数组中元素的个数n（1&lt;n&lt;100)，第二行是n个整数，每两个整数之间用空格分隔。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出为一行：输出逆序后数组的整数，每两个整数之间用空格分隔。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>5
8 6 5 4 1
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>8 4 5 6 1
</code></pre>
  </div>
 </div>
</div>
