<div class="post">
 <div class="prob-titile">
  A6-2  最大公约数专题：分数的加法
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>输入两行，每行任意两个整数。第一行是b1,a1；第二行是b2,a2。输出b1/a1+b2/a2的分数形式，要求化简分数。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入两行，每行任意两个整数。第一行是b1,a1；第二行是b2,a2。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出b1/a1+b2/a2的分数形式，要求化简分数。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>21 20
1 30 
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>13 12
</code></pre>
  </div>
 </div>
</div>
