<div class="post">
 <div class="prob-titile">
  A8-4  字符串的连接函数
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>自定义字符串的连接函数Concat(..)，用于将两个字符串前后连接在一起。连接时，第一个的字符串，舍掉最后一个字符；第二个的字符串，舍掉第一个字符。 编写main()函数，定义两个字符数组s1和s2；分别输入长度小于10000的字符串；分别调用Concat函数，输出两个字符串连接后的字符串。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>分别输入长度小于10000的字符串</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出两个字符串连接后的字符串</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>What are you doing?
I am studing program!
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>What are you doing am studing program!
</code></pre>
  </div>
 </div>
</div>
