<div class="post">
 <div class="prob-titile">
  B2-2 语言的起点
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>这一天，小明在南师大玩字符串。他先选了两个串A和B，重复了n次以下工作：将A接在B后面，形成新的B；将B接在A后面，形成新的A。要求输出最终的A。测试数据，保证最终A的总长度小于10万。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code> 输入三行，第一行是一个整数n，第二行和第三行分别是一个字符串。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，只有一个字符串，表示最后的A串。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>2
AA
BB
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>AABBAABBAAAABBAA
</code></pre>
  </div>
 </div>
</div>
