<div class="post">
 <div class="prob-titile">
  B6-7 矩阵的行列排序
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>本着你不玩它，它就玩你的学习态度，这一天，小明和小璐正在玩矩阵。他们想利用刚刚学到的排序算法，玩赢矩阵。 小璐随手写了一个m行n列的整数矩阵，要求小明，对矩阵的每个数字从上到下，从左到右进行排序。小明略一沉思，笑道：这又何难！二维数组在内存中，其实就是一维数组！看我分分钟解决！</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入m+1行，第1行，两个整数m和n，2&lt;=m,n&lt;=100，表示矩阵的行数和列数。第2行至第m+1行，每行n个整数，彼此用空格分开。表示矩阵的数据。 </code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code> 输出m行，每行n个整数，彼此用空格分开。表示行排序后的矩阵。注意每个数字占6个空格输出。推荐使用输出方式：printf("%6d", v[i][j]);</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>4 5
 1  2 16 17 20
10  3 11 18 13
 9 19  4 12  5
 8  7 15  6 14

</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code> 1  2  3  4  5
 6  7  8  9 10
11 12 13 14 15
16 17 18 19 20

</code></pre>
  </div>
 </div>
</div>
