<div class="post">
 <div class="prob-titile">
  A7-4  数组的查找函数
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>自定义整数数组的查找函数Search(...)；编写main()函数，定义一个整数数组a；输入整数n（n&lt;=10000），再输入n个整数；再输入一个整数x；调用Search函数，输出x在数组中的下标。若数组中不存在x值,则输出-1。若数组中存在多个x值，则输出第一个x值的下标。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入整数n（n&lt;10000），再输入n个整数；再输入一个整数x</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出x在数组中的下标。若数组中不存在x值,则输出-1。若数组中存在多个x值，则输出第一个x值的下标。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>5
1 3 2 5 4
5
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>3
</code></pre>
  </div>
 </div>
</div>
