<div class="post">
 <div class="prob-titile">
  B5-2 模运算的逆元
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>童年时你学会的求余运算，更专业的名称是模运算。进入大学后，小明和小璐知道了模运算中逆元的概念。<br/>
已知互质的正整数n和a，a&lt;n，将n作为模，则a的逆元b是满足如下条件的正整数：b&lt;n并且(a*b)%n=1。实际上a的逆元是唯一的。<br/>
例如：设n=9,a=2，n和a互质，a的唯一的逆元b是5。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入二行，第1行是整数n（n&lt;10000）和k个正整数（k&lt;100）。第2行是k个大于1的正整数a1, a2,……, ak，均小于n，用空格分开。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，k个整数。分别表示a1, a2,……, ak的逆元。若ai与n不互质，则对应输出0。 </code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>9 7
5 6 7 8 2 3 4
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>2 0 4 8 5 0 7
</code></pre>
  </div>
 </div>
</div>
