<div class="post">
 <div class="prob-titile">
  B4-2 最长递增子序列
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>小明想炒股发财，所以他常常思考如何评价股票的涨跌。小明有某只股票的历史价格数据，有n项整数。 小明想在n项整数中，找出“最长递增子序列”的长度m。以此长度来判断该股票属于上升型股票还是下降型股票。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入两行，一行是整数n，0&lt;n&lt;2万。第2行是由空格分开的n个整数，表示股票的价格序列。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，一个整数，表示“最长递增子序列”的长度m。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>9
5 6 1 2 9 3 4 7 8
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>6
</code></pre>
  </div>
 </div>
</div>
