<div class="post">
 <div class="prob-titile">
  B6-3 上楼梯的走法
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>小明每天都在上楼，一天他和小璐走在途中，他突然停了下来。小璐问他：何事？小明说：我有三种步伐：1个台阶/步，2个台阶、3个台阶。从1楼到2楼有n级台阶。我正在思考，有多少种不同的走法。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入一行，一个整数n，n&lt;30，表示台阶数。 </code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，一个整数，表示不同走法的个数。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>3
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>4
</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent2">
   <pre><code>5
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent2">
   <pre><code>13
</code></pre>
  </div>
 </div>
</div>
