<div class="post">
 <div class="prob-titile">
  B2-3 参赛人数
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>学业发展中心最近组织了两场程序设计竞赛，参赛人数分别是n1和n2。请你帮助学发中心统计一下，到底有多少人至少参加过一场比赛。请注意，学发中心现有的两张参赛记录表中，可能有重复的学号。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入三行，第一行是整数n1和n2（n1和n2均小于10000）；第二行是n1个学号，第三行是n2个学号。每个学号是一个自然数，彼此以空格分开。</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code> 输出一行，一个整数，表示至少参加过一场比赛的人数。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>5 6
5 2 3 5 1
9 11 8 11 4 5

</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>8
</code></pre>
  </div>
 </div>
</div>
