<div class="post">
 <div class="prob-titile">
  A3-4  素数专题：验证哥德巴赫猜想
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>输入正偶数x，输出所有形似x1+x2=x的算式，要求x1和x2均为素数，并且x1&lt;=x2。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入正偶数x</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出所有符合要求的算式</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>10
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>3+7=10
5+5=10
</code></pre>
  </div>
 </div>
</div>
