<div class="post">
 <div class="prob-titile">
  B5-5 统计素数因子
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>一天，小璐问小明，你还记得王老师讲过的素数因子分解算法吗？小明说，这太简单了，期中考试前，我就过关了。 小璐接着问，在一个整数的素数因子分解中，有的素数因子出现的次数多，有的素数因子出现的次数少。你能立即说出，哪个/些素数因子出现的次数最多吗？</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入一行，一个正整数x。（x&lt;1亿） </code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code> 输出一行，一个或多个整数，表示x在素数因子分解中出现次数最多的素数。若输出数字超过1个时，按升序输出。 （提示：x&lt;1亿时，素数因子&lt;1万）</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>3150
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>3 5
</code></pre>
  </div>
 </div>
</div>
