<div class="post">
 <div class="prob-titile">
  A11-3  高精度整数的加法
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>自定义函数Add，实现两个高精度整数的加法运算。 编写main()函数，依次输入正整数x1,n1和x2,n2；然后以Add等函数为工具，计算x1的n1次方与x2的n2次方的和，并输出之。（x1,x2&lt;=10000，最终运算结果的长度不超过10万）
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>依次输入正整数x1,n1和x2,n2</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一个数，表示x1的n1次方与x2的n2次方的和</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>2 100
3 50
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>1267651318126217093349291975625
</code></pre>
  </div>
 </div>
</div>
