<div class="post">
 <div class="prob-titile">
  A11-2  K进制的高精度整数
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>自定义函数Mul，实现一个K进制的高精度整数和一个常规整数的乘法运算。 编写main()函数，输入正整数x和n和k；然后以Mul函数为工具，计算x的n次方，并输出其k进制的表示形式。（x&lt;=10000，k&lt;=16，最终运算结果的长度不超过10万）
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入正整数x和n和k</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一个数，表示x的n次方的k进制的表示形式</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>3 40 16
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>A8B8B452291FE821
</code></pre>
  </div>
 </div>
</div>
