<div class="post">
 <div class="prob-titile">
  A10-4  集合的交集
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>自定义函数SetInter，计算两个数组所表示的集合的交集（交集中不能有重复的数字）。 编写main()函数，定义三个整数数组a1,a2,a3（空间大小均不超过10000）；输入正整数n1和n2和n3；然后输入n1个整数存入数组a1，输入n2个整数存入数组a2，输入n3个整数存入数组a3。调用SetInter函数，计算a1与a2的交集；调用SetInter函数，计算a1与a3的交集；分别输出两个交集中的元素。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入正整数n1和n2和n3；然后输入n1个整数存入数组a1，输入n2个整数存入数组a2，输入n3个整数存入数组a3</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>分两行分别输出a1与a2的交集、计算a1与a3的交集</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>5 4 4
3 4 5 1 2
5 7 1 3
6 8 2 4
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>3 5 1
4 2
</code></pre>
  </div>
 </div>
</div>
