<div class="post">
 <div class="prob-titile">
  DS5-4  Huffman编码
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>已知在某文件中，有若干字符及其出现次数，请为每个字符，设计Huffman编码。
编写main()函数，读入字符个数n，读入n个字符及出现次数。输出每个字符的Huffman编码。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>5
A 1
B 2
C 3
D 4
E 5
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>A:010
B:011
C:00
D:10
E:11
</code></pre>
  </div>
 </div>
</div>
