<div class="post">
 <div class="prob-titile">
  A8-3  字符串的统计函数
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>自定义字符串的统计函数Diff(...)，用于计算字符串中的大写字母个数与小写字母个数的差值。 编写main()函数，定义两个字符数组s1和s2；分别输入长度小于10000的字符串；分别调用Diff函数，分别输出两个字符串中，大写字母个数与小写字母个数的差值。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>分别输入长度小于10000的字符串</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出大写字母个数与小写字母个数的差值</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>What are you doing?
I am studing program!
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>-13 -15
</code></pre>
  </div>
 </div>
</div>
