<div class="post">
 <div class="prob-titile">
  DS5-3 根据序偶集合创建二叉树
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>自定义二叉链表结构，用于存储二叉树。结点中的数据域是字符类型。
设计函数Create (……)，根据序偶集合，创建二叉树。
编写main()函数，读入序偶集合（题目保证序偶的次序是逐层排列的），调用Create等函数，创建二叉树，输出二叉树的深度。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>4
A B
A C
B D
B E
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>3
</code></pre>
  </div>
 </div>
</div>
