<div class="post">
 <div class="prob-titile">
  DS8-2 选择排序的第k趟
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>第一行输入正整数n和k，k&lt;n，第二行输入n个整数（代表关键字）a1,a2,…,an。n&lt;1000。对这个整数序列，进行选择排序，输出第k趟后的数据序列。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>5 2
5 9 7 1 3
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>1 3 7 5 9
</code></pre>
  </div>
 </div>
</div>
