<div class="post">
 <div class="prob-titile">
  DS5-2 根据先序和中序序列创建二叉树
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>自定义二叉链表结构，用于存储二叉树。结点中的数据域是字符类型。 设计函数Create (……)，根据先序序列和中序序列，创建二叉树。 编写main()函数，读入先序序列和中序序列（题目保证每个序列长度小于1000），调用Create等函数，创建二叉树，并输出后序遍历序列。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code></code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code></code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>ABDEC
DEBAC
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>EDBCA</code></pre>
  </div>
 </div>
</div>
