<div class="post">
 <div class="prob-titile">
  DS3-1  字符串的模式匹配
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>设计函数Index(s,k, t)，返回模式串t在主串s[k]之后首次出现的起始下标。
编写main()函数，分别读入字符串s和t（长度均小于1000），调用Index等函数。输出模式串t在主串s中出现的所有起始下标。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>We like world and like life.
like
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>3 18
</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent2">
   <pre><code>We aaaa world and aaaa life.
aa
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent2">
   <pre><code>3 5 18 20 
</code></pre>
  </div>
 </div>
</div>
