<div class="post">
 <div class="prob-titile">
  回型矩阵
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>输入一个正整数n（0</p>

<p>输出时，每个整数占4个字符位置，且每个整数之间有两个空格。</p>

<p><br/>
 </p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code></code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code></code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>6</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>   1     2     3     4     5     6  
  20    21    22    23    24     7  
  19    32    33    34    25     8  
  18    31    36    35    26     9  
  17    30    29    28    27    10  
  16    15    14    13    12    11 
</code></pre>
  </div>
 </div>
</div>
