<div class="post">
 <div class="prob-titile">
  A7-5  数组的有序插入函数
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>自定义整数数组的有序插入函数Insert(...)；编写main()函数，定义一个整数数组；输入整数n（n&lt;=10000），再输入n个整数（测试数据保证n个整数是一个增序序列）；再输入一个整数x；调用Insert函数，将x有序插入到数组中，然后输出数组中的所有值。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入整数n（n&lt;10000），再输入n个整数（测试数据保证n个整数是一个增序序列）；再输入一个整数x</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出调用函数后数组中的所有值</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>5
11 22 33 44 55
30
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>11 22 30 33 44 55
</code></pre>
  </div>
 </div>
</div>
