<div class="post">
 <div class="prob-titile">
  DS4-1  稀疏矩阵的转置
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>自定义三元组表结构，用于存储稀疏矩阵。其中所有三元组数据按照行主序排列（具体参见样例）。 设计函数Trans (……)，实现对稀疏矩阵的转置运算。 编写main()函数，读入某个稀疏矩阵的所有三元组（不保证有序）。调用Trans函数，得到转置矩阵。最后输出转置矩阵。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code></code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code></code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>4 5 7
0 1 30
1 0 10
3 2 20
3 3 30
1 3 40
2 1 -5
2 4 50
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>5 4 7
0 1 10
1 0 30
1 2 -5
2 3 20
3 3 30
3 1 40
4 2 50
</code></pre>
  </div>
 </div>
</div>
