<div class="post">
 <div class="prob-titile">
  A1-3  分支结构练习：月份天数
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code>输入年份、月份，输出该年该月的天数。 输入一行，两个整数（年份、月份）。 输出一行，一个整数，表示该年该月的天数。
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code>输入一行，两个整数（年份、月份）</code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，一个整数，表示该年该月的天数</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>2020 2
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>29
</code></pre>
  </div>
 </div>
</div>
