<div class="post">
 <div class="prob-titile">
  B3-4 颠倒单词
 </div>
 <div class="post-content">
  <h3>
   题目描述
  </h3>
  <div class="lead2">
   <pre><code><p>小明和小璐正在学习英文，但是他们更想玩游戏。于是小明写了一个句子，要求小璐把其中的每个单词颠倒地写出来。</p>
</code></pre>
  </div>
  <h3>
   输入格式
  </h3>
  <div class="lead2">
   <pre><code> 输入一行，是一个长长的字符串s。单词之间的分隔符是空格（可能1个或多个），长度不超过10万。 </code></pre>
  </div>
  <h3>
   输出格式
  </h3>
  <div class="lead2">
   <pre><code>输出一行，s中的每个单词都被颠倒了。</code></pre>
  </div>
  <h3>
   输入样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleInputContent1">
   <pre><code>I love you You love me
</code></pre>
  </div>
  <h3>
   输出样例
  </h3>
  <div class="discriptfont sampleboard" id="sampleOutputContent1">
   <pre><code>I evol uoy uoY evol em
</code></pre>
  </div>
 </div>
</div>
