body {
  width: 100%;
  // 此处高度是视窗高度
  height: 100vh;

  #app {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

main {
  width: 500px;
  min-height: 700px;
  background-color: white;
  // 相对自己位移0,0  发散5px  颜色黑色透明度0.2
  box-shadow: 0 0 8px rgb(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;

  .top {
    padding: 40px 20px 20px 20px;

    .title {
      text-align: center;
      font-size: 20px;
      position: relative;  // 自己加的用于控制返回首页样式

      // 自己加的用于控制返回首页样式
      .login_sign_back {
        position: absolute;
        top: -28px;
        right: 0;
        font-size: 16px;
        >a {
          color: #409eff;
          text-decoration: underline;
        }
      }

      .login_sign {
        p {
          color: #808595;
        }
        // 如果a有active这个类的话
        p.active {
          color: #0d8fe0;
        }
      }
    }

    //h2 {
    //  color: #26c6da;
    //  display: flex;
    //  justify-content: center;
    //}

    .login_forms {
      margin-top: 20px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;

      // 此处就不使用>input子类选择器, 而是直接input后代选择器
      input {
        margin-bottom: 20px;

        border: 1px solid #f0eeee;
        outline: none;
        height: 40px;
        border-radius: 5px;

        // input内部文字据左边20px
        padding-left: 20px;

        // input获得焦点时, 边框颜色变化
        transition: all 0.3s;
        &:focus {
          border: 1px solid #26c6da;
        }
      }
      // 在注册界面, 给每个input加上sign_input类属性,
      // 修改下margin-bottom, 防止挡住下面图片
      input.sign_input {
        margin-bottom: 15px;
      }

      .code {
        display: flex;
        width: 100%;
        justify-content: space-between;

        input {
          width: 50%;
        }

        img {
          height: 42px;
          border-radius: 5px;
          cursor: pointer;
          border: 1px solid #f0eeee;
        }
      }

      >button {
        height: 40px;
        color: white;
        border: none;
        cursor: pointer;
        background-color: #26c6da;
        border-radius: 5px;
      }

      .go_sign {
        position: absolute;
        bottom: 353px;
        right: 20px;

        font-size: 16px;
        >a {
          color: #409eff;
          text-decoration: underline;
        }
      }
      .go_login {
        position: absolute;
        bottom: 312px;
        right: 20px;

        font-size: 16px;
        >a {
          color: #409eff;
          text-decoration: underline;
        }
      }
    }

    .other_login {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      >p {
        font-size: 14px;
        color: #808595;
      }
      // 通过伪元素构造p前后两条线
      &::before {
        position: absolute;
        content: '';  // 为元素要想显示, 须有这个
        display: block;
        width: 100%;
        height: 1px;
        background-color: #808595;
        left: 0;
        top: 20px;
      }
      //&::after {
      //  position: absolute;
      //  content: '';  // 为元素要想显示, 须有这个
      //  display: block;
      //  width: 200px;
      //  height: 1px;
      //  background-color: #808595;
      //  right: 0;
      //  top: 8px;
      //}

      >div {
        margin-top: 30px;
        img {
          width: 30px;
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }

  .bottom {
    img {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 270px;
    }
  }
}


//body {
//  width: 100%;
//  // 此处高度是视窗高度
//  height: 100vh;
//
//  #app {
//    width: 100%;
//    height: 100%;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//  }
//}
//
//*{
//    /* 初始化 */
//    padding: 0;
//    margin: 0;
//}
//
//body{
//    /* 100%的窗口高度 */
//    height: 100vh;
//    /* 弹性布局 水平+垂直居中 */
//    display: flex;
//    align-items: center;
//    justify-content: center;
//    /* 渐变背景 */
//    //background: linear-gradient(200deg,#f3e7e9,#e3eeff);
//    background: white;
//}
//
//.container{
//    background-color: #fff;
//    width: 650px;
//    height: 415px;
//    /* 阴影 */
//    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
//    /* 相对定位 */
//    position: relative;
//}
//.from-box{
//    /* 绝对定位 */
//    position: absolute;
//    top: -10%;
//    left: 5%;
//    background-color: #d3b7d8;
//    width: 320px;
//    height: 500px;
//    border-radius: 5px;
//    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
//     /* 弹性布局 水平+垂直居中 */
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     z-index: 2;
//     /* 动画过渡 加速之后 减速 */
//     transition: 0.5s ease-in-out;
//}
//
//.register-box,.login-box{
//    /* 弹性布局 垂直排列 */
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//    width: 100%;
//}
//.hidden{
//    display: none;
//    transition: 0.5s;
//}
//
//h1{
//    text-align: center;
//    margin-bottom: 25px;
//    /* 大写字母 */
//    text-transform: uppercase;
//    color: #fff;
//    /* 字间距 */
//    letter-spacing: 5px;
//}
//
//input{
//    background-color: transparent;
//    width: 70%;
//    color: #fff;
//    border: none;
//    /* 下边框样式 */
//    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
//    padding: 10px 0;
//    text-indent: 10px;
//    margin: 8px 0;
//    font-size: 14px;
//    /* 字间距 */
//    letter-spacing: 2px;
//}
//input::placeholder{
//    color: #fff;
//}
//
//input:focus{
//    color: #a262ad;
//    outline: none;
//    border-bottom: 1px solid #a262ad80;
//    transition: 0.5s;
//}
//input:focus::placeholder{
//    opacity: 0;
//}
//
//.from-box button{
//    width: 70%;
//    margin-top: 35px;
//    background-color: #f6f6f6;
//    outline: none;
//    border-radius: 8px;
//    padding: 13px;
//    color: #a262ad;
//    letter-spacing: 2px;
//    border: none;
//    cursor: pointer;
//}
//
//.from-box button:hover{
//    background-color: #a262ad;
//    color: #f6f6f6;
//    transition: background-color 0.5s ease;
//}
//
//.con-box{
//    width: 50%;
//    /* 弹性布局 垂直排列 居中 */
//    display: flex;
//    flex-direction: column;
//    justify-content: center;
//    align-items: center;
//    /* 绝对定位 */
//    position: absolute;
//    top: 50%;
//    transform: translateY(-50%);
//}
//
//.con-box.left{
//    left: -2%;
//}
//
//.con-box.right{
//    right: -2%;
//}
//
//.con-box h2{
//    color: #8e9aaf;
//    font-size: 25px;
//    font-weight: bold;
//    letter-spacing: 3px;
//    text-align: center;
//    margin-bottom: 4px;
//}
//
//.con-box p{
//    font-size: 12px;
//    letter-spacing: 2px;
//    color: #8e9aaf;
//    text-align: center;
//}
//.con-box span{
//    color: #d3b7d8;
//}
//
//.con-box img{
//    width: 230px;
//    height: 150px;
//    opacity: 0.9;
//    margin: 40px 0;
//}
//
//.con-box button{
//    margin-top: 3%;
//    background-color: #fff;
//    color: #a262ad;
//    border: 1px solid #d3b7d8;
//    padding: 6px 10px;
//    letter-spacing: 1px;
//    outline: none;
//    /* 鼠标放上变小手 */
//    cursor: pointer;
//}
//.con-box button:hover{
//    background-color: #a262ad;
//    color: #f6f6f6;
//}