{% extends 'dl_index.html' %}

{# 导入自定义标签, 页面等等 #}
{% load my_tag %}

{% block css %}
    <!-- editor-md样式, 保证在article.css上面 -->
    <link rel="stylesheet" href="/static/my/css/problem.css">
{% endblock %}

{% block banner %}
    {% banner 'problem' %}
{% endblock %}

{% block main %}
    <div id="problem_position" class="problem">
        <div class="problem_title">
            <h2>{{ prob.title }}</h2>
            <p>
                <!--<span>难度：<i class="difficult">{\{ prob.difficulty }}</i></span>-->
                <span>难度：
                    <!-- v-show和CSS规则如 [v-cloak] { display: none } 一起用时, 不会刷新时短暂存在
                         https://segmentfault.com/q/1010000009302077/-->
                    <i v-show="{{ prob.difficulty }} == 0" style="color: #00b7c5" v-cloak>简单</i>
                    <i v-show="{{ prob.difficulty }} == 1" style="color: #ffb800" v-cloak>中等</i>
                    <i v-show="{{ prob.difficulty }} == 2" style="color: #ff2d55" v-cloak>困难</i>
                </span>
                <span>发布时间：<i>{{ prob.create_date|date:'Y-m-d' }}</i></span>
                <span>来源：<i>{{ prob.origin |default_if_none:"无" }}</i></span>
            </p>
            <div>
                <i title="知识点" class="fas fa-tags"></i>
                <!-- 正向遍历获取article.tag表, .all获取所有tag -->
{#                {% for tag in article.tag.all %}#}
{#                    <i>{{ tag.title }}</i>#}
{#                {% endfor %}#}
                  {% for problem_concept in problem_concepts %}
                    <i>{{ problem_concept.concept.name }}</i>
                  {% endfor %}
            </div>
        </div>
        {% include html_name %}
        <div class="ace_editor">
            <div id="ace_editor_body"></div>
        </div>
        <!-- 添加上headers这个请求头
            https://blog.csdn.net/longtengg1/article/details/115585570-->
        <div class="submit">
            <button class="execute_btn" @click="exectueAceCode({{ prob_nid_list }}, 'execute', 'prob')">执行代码</button>
            <button class="submit_btn" @click="exectueAceCode({{ prob_nid_list }}, 'prob_submit', 'prob')">提交</button>
        </div>
        {% block prev_next %}
            <div class="prev_next_prob">
                <div class="pn_content">
                    <!-- https://www.pythonheidong.com/blog/article/1477974/b9c3a7f3f5548da00434/
                         my_tag.py弄一个toString过滤器, 不然后端传入的'#'会变成#, 不是字符了, 会报错
                         多加两个a标签, 不然第一题左边没有东西, 下一题的a标签会跑到左边 -->
                    <a v-show="{{ prev_html_name|toString }} === '#'" v-cloak>已经是第一题了</a>
                    <a class="prev_next_btn" v-show="{{ prev_html_name|toString }} !== '#'" href="{{ prev_html_name }}" v-cloak>上一题: {{ prev_prob.title }}</a>
                    <a class="prev_next_btn" v-show="{{ next_html_name|toString }} !== '#'" href="{{ next_html_name }}" v-cloak>下一题: {{ next_prob.title }}</a>
                    <a v-show="{{ next_html_name|toString }} === '#'" v-cloak>做完这些你已经够强了</a>
                    <!--<a v-show="{\{ next_html_name|toString }} === '#'">已经是最后一题了</a>-->
                </div>
            </div>
        {% endblock %}
    </div>
    <!-- v-show和CSS规则如
    [v-cloak] { display: none } 一起用时, 不会一开始时短暂存在-->
    <el-dialog
      :visible.sync="executeDialogVisible"
      width="50%"
      :close-on-click-modal="false"
      title="执行结果"
      v-cloak>
      <div class="ace_result">
        <ul class="ace_result_p">
          <li v-for="(value, i) in ace_prob_result" :key="i">
            <!--<h2>
                第[[ i+1 ]]题：[[ value.pass ]]
            </h2>-->
            <div style="white-space: pre-wrap;">
                <h2>输入</h2>
                <div class="dia_show_block">
                    <div v-for="(test_sample, ii) in value.test_sample" :key="ii">
                        <p>[[ test_sample ]]</p>
                    </div>
                </div>
            </div>
            <div>
                <h2>输出</h2>
                <div class="dia_show_block">
                    <div>[[ value.user_out ]]</div>
                </div>
            </div>
            <div>
                <h2>预期结果</h2>
                <div class="dia_show_block">
                    <div>[[ value.true_out ]]</div>
                </div>
            </div>
          </li>
        </ul>
      </div>
      <!--<div class="result_dialog">
          <h2>
              做题结果
          </h2>
          <ul class="result_dialog">
            <li v-for="(value, i) in prob_result" :key="i">
                <div>
                    [[ value ]]
                </div>
            </li>
          </ul>
      </div>-->
      <span slot="footer" class="dialog-footer">
        <!--
        <el-button @click="resultDialogVisible = false">取 消</el-button>
        -->
        <el-button type="primary" @click="executeDialogVisible = false">确 定</el-button>
      </span>
    </el-dialog>
    <el-dialog
      :visible.sync="resultDialogVisible"
      width="50%"
      :close-on-click-modal="false"
      title="提交结果"
      v-cloak>
      <div class="ace_result">
        <ul class="ace_result_p">
          <li v-for="(value, i) in ace_prob_result" :key="i">
            <h2>
                <span :class="[value.pass === 'CE'?'ce_style':'ac_style']">[[ value.pass ]]</span>
            </h2>
          </li>
        </ul>
      </div>
      <!--<div class="result_dialog">
          <h2>
              测试结果
          </h2>
          <ul class="result_dialog">
            <li v-for="(value, i) in test_prob_result" :key="i">
                <h2>
                    第[[ i+1 ]]题
                </h2>
                <div>
                    [[ value ]]
                </div>
            </li>
          </ul>
      </div>-->
      <span slot="footer" class="dialog-footer">
        <!--
        <el-button @click="resultDialogVisible = false">取 消</el-button>
        -->
        <!-- 这里必须绑定resultDialogGoOn生成一个新的resultDialogGoOn, 不然写入掌握情况的Time就重复了 -->
        <el-button type="primary" @click="resultDialogVisible = false">确 定</el-button>
      </span>
    </el-dialog>
{% endblock %}
